#showcase {
  padding:0;

  @media screen and (min-width: $large) {
    overflow: scroll;
  }

  .showcase-nav {
    background-color: darken($grey-color, 4);
    z-index: 1;
    top:0;
    position: sticky;
    padding:10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-link {
      padding: 0.5rem 0;
    }
  }

  .project-counter {
    border:2px solid $primary-color;
    border-radius: 5px;
    padding: 1px 5px;
  }
}
