body.dark {
  background-color:$primary-color;
  color:white!important;

  a {
    color: $secondary-color;

    &:hover, &:focus, &:active {
      color: $secondary-color;
    }
  }

  #showcase {
    background-color: darken($primary-color, 5);

    .showcase-nav {
      background-color: darken($primary-color, 8);
    }
  }

  .card {
    background-color: $primary-color;
    box-shadow: 0px 1px 2px darken($grey-color, 90);
  }
}
