// Abstracts
@import './abstracts/variables.scss';

// Themes
@import './themes/dark.scss';

// Base
@import './base/typo.scss';

// Components
@import './components/card.scss';
@import './components/toggle.scss';

// Layout
@import './layout/showcase_nav.scss';

// Bootstrap Vue
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

// TIJDELIJK
body {
  //TIJDLIJK Webstransition
  -webkit-transition: .8s ease!important;
  -o-transition: .8s ease!important;
  transition: .8s ease!important;

  #showcase {
    background-color:$grey-color;
  }

  .bg-primary {
    background-color: $primary-color;
  }

  .bg-secondary {
    background-color: $secondary-color!important;
  }

  .l-0 {
    left:0;
  }

  .b-3 {
    bottom:30px;
  }
}
