<template>
  <div>
    <div id="introduction">
      <h1 class="fw-normal mb-4">Hello, I am Nick Hoffman <br> A Front-end developer</h1>
      <b-badge v-for="skill in knowledge" class="mr-3 p-2 bg-secondary">{{ skill }}</b-badge>
    </div>

    <div class="position-absolute b-3 l-0 w-100 pl-5 pr-5">
      <b-link target="_blank" href="#foo">
        <img class="icon mr-2" gitlab src="src/assets/gitlab-brands.svg">
      </b-link>

      <b-link target="_blank" href="https://www.linkedin.com/in/nick-hoffman-a001aa12a/">
        <img class="icon mr-2" src="src/assets/linkedin-in-brands.svg">
      </b-link>

      <b-link target="_blank" linkedin href="mailto:nick97hoffman@gmail.com">
        nick97hoffman@gmail.com
      </b-link>

      <div class="custom-control custom-switch float-right">
        <input type="checkbox"
               class="custom-control-input"
               id="customSwitches"
               v-on:change="darkmode()"
        >
        <label class="custom-control-label" for="customSwitches">Darkmode</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      checked: false,
      knowledge: [
         'VueJs',
         'Javascript',
         'Scss',
         'jQuery',
         'Git',
         'Package'
      ]
    }
  },
  methods: {
    darkmode () {
      const body = document.body

      if(this.checked) {
        body.classList.remove("dark")
        this.checked = false
      } else {
        body.classList.add("dark")
        this.checked = true
      }

    }
  }
}
</script>
