<template>
  <div>
    <div class="showcase-nav">
      <b>Projects</b>
      <span class="project-counter">{{ count }}</span>
    </div>

    <b-card
      v-for="(project, index) in projects"
      v-bind:title="project.header"
      tag="article"
    >
      <b-card-text>
        {{ project.msg }}
      </b-card-text>

      <b-modal hide-backdrop id="modal-1" title="BootstrapVue">
        <p class="my-4">Hello from modal!</p>
      </b-modal>

      <b-link v-b-modal.modal-1>See more</b-link>
    </b-card>
  </div>
</template>

<script>
export default {
  data () {
    return {
      count: 0,
      projects: [
        { header: 'KNGF',
          msg: 'Dit is een test bericht van KNGF',
          body: '',
          img: '' },
        { header: 'KWF Lampion',
          msg: 'Dit is een test bericht van KWF',
          body: '',
          img: '' },
        { header: 'Sass example',
          msg: 'Dit is een test bericht van Sass',
          body: '',
          img: '' },
        { header: 'KNGF',
          msg: 'Dit is een test bericht van KNGF',
          body: '',
          img: '' },
        { header: 'KWF Lampion',
          msg: 'Dit is een test bericht van KWF',
          body: '',
          img: '' },
        { header: 'Sass example',
          msg: 'Dit is een test bericht van Sass',
          body: '',
          img: '' },
      ]
    }
  },
  methods: {
  }
}
</script>
