<template>
  <div id="app">
    <b-container fluid>
      <b-row>
        <b-col sm="12" md="6" lg="8" class="d-flex align-items-center vh-100 pl-5 pr-5">
            <introduction></introduction>
        </b-col>
        <b-col sm="12" md="6" lg="4" class="vh-100" id="showcase">
            <portfolio></portfolio>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Introduction from './components/Introduction.vue'
import Portfolio from './components/Portfolio.vue'

export default {
  data () {
    return {}
  },
  components: {
    'introduction': Introduction,
    'portfolio': Portfolio
  }
}
</script>
