body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 400!important;
  color: $primary-color!important;

  a {
    color: $primary-color;

    &:hover, &:focus, &:active {
      color: $primary-color;
    }
  }

  h1 {
    font-size: 2.7rem;
  }

  .icon {
    width:20px;
  }
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: normal;
}

.ft-bold {
  font-weight: bold;
}
